{% for backend in haproxy_backend %}
backend {{ backend.name }}
{% if backend.description is defined %}
  description {{ backend.description }}
{% endif %}
  {% if backend.redirect is defined %}{{backend.redirect}}{% endif %}
{% for server in backend.servers  %}
  server {{server.name}} {{server.bind}} {% if server.params is defined %}{{server.params}}{% endif %}
{% endfor %}
{% endfor %}